<!DOCTYPE html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  </head>
  <body>
    <h1> The Save File Transfer Project </h1>
    {% if saves %}
      {% for save in saves %}
        <p><a href="https://se-saves.s3-us-west-1.amazonaws.com/{{save}}" id="id-{{save}}">{{ save }}</a></p>
      {% endfor %}
    {% endif %}

    <div>
      <h4>Drag &amp; Drop an image onto this page to save it.</h4>
      <form id="upload-file" method="post" enctype="multipart/form-data">
        <input class="ui primary button" type=file name=file>
      </form>
    </div>
  </body>
  <script>
    $('html')
        .on('dragover', function(e) {e.preventDefault(); return false;})
        .on('drop', function(e) {
            let files = e.originalEvent.dataTransfer.files;
            uploadFile(files);
            return false;
        });

    $('input[type=file]').change(function(e) { 
      uploadFile(this.files)
    });

    function uploadFile(file){
      const form_data = new FormData($('#upload-file')[0])
      console.log(form_data)
      $.ajax({
         type: "POST",
        url: "/upload",
        data: form_data,
        contentType: false,
        processData: false,
      }).done(function(){console.log('done')})
    }
  </script>
</html>